<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <div class="title"><%= yield(:title)%></div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Accueil",   root_path %></li>
        <li><%= link_to "Index des corsaires",   about_path %></li>
        <li><%= link_to "Nouveau corsaire", '#' %></li>
      </ul>
    </nav>
  </div>
</header>